#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  build_tag_pages

  if git_dev_branch?
    # create draft page with list of drafts
    @items << Nanoc3::Item.new(
      "",
      { :title => "Drafts", :layout => "drafts" },
      "/drafts"
    )
  end

  # exclude drafts unless we're on the dev branch
  items.delete_if { |item| item[:status] == 'draft' } unless git_dev_branch?

  # always exclude private posts
  items.delete_if { |item| item[:status] == 'private' }

  items.each do |item|
    item[:created_at] = Date.parse(item[:created_at]) if item[:created_at].is_a?(String)
  end
end

compile '/tag/*' do
  filter :erb
  layout 'tag-page'
  layout 'default'
end

compile '/drafts' do
  filter :erb
  layout 'drafts'
  layout 'default'
end

compile '/stylesheet/' do
    # compress CSS
    #filter :less
    filter :rainpress
end

compile '/js/' do
    #filter :'closure-compiler'
end

#route '/article/*', :rep => :summary do
#  nil # Don't create files for summaries
#end

#compile '/article/*', :rep => :summary do
#  rep.filter :erb
#  rep.filter :rdiscount
#end

compile '/article/*' do
  filter :erb
  filter :absolutify  # make links/images all absolute for RSS readers (https://github.com/nvie/blog/blob/master/lib/absolutify.rb)
  filter :rdiscount
  layout 'article'
  layout 'default'
end

route '/article/*' do
  @item.identifier + 'index.html'
end

compile '/feed/' do
  filter :erb
end

route '/feed/' do
  '/feed.xml'
end

compile '/' do
  filter :erb
  layout 'default'
end

compile '*' do
  filter :erb
  filter :rdiscount
  layout 'default'
end

route '/stylesheet/' do
  '/style.css'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
