--- 
title: Archives
---

<h1>Archives</h1>

<div id="archive">
<% sorted_posts.map { |a| "#{a[:created_at].year}-#{a[:created_at].month}" }.uniq.each do |yearmonth| %>
 <a name="<%= yearmonth %>"></a>
 <%= "<h2>#{Time.gm(yearmonth.split('-')[0], yearmonth.split('-')[1]).strftime("%B %Y")}</h2>" %>

 <ul>
 <% sorted_posts.select { |a| "#{a[:created_at].year}-#{a[:created_at].month}" == yearmonth }.each do |post| %>
   <li><%= "Draft: " if post[:status] == 'draft' %><%= link_to(post[:title], post.path) %></li>
 <% end %>
 </ul>
<% end %>
</div>
