---
title:
---
<% sorted_posts[0, 1].each do |post| %>
  <article>
    <h1><%= link_to(post[:title], post.path) %></h1>
    <h2>
      <time><%= post[:created_at].strftime("%B %e, %Y") %></time>
      <% if post[:tags] %><tags><%= tags_for(post, {:base_url => '/tag/', :none_text => ''}) %></tags><% end %>
    </h2>
    <div class="post">
     <%= post.compiled_content :rep => :summary %>
    </div>
    <div class="meta">
      <%= link_to("Permalink", post.path) %><!-- | <%= link_to("Comments", post.path) %>-->
    </div>
  </article>
<% end %>

<div class="past-articles">
<h1 class="previously">Previously,</h1>
<% sorted_posts[1, 5].each do |post| %>
  <article>
    <h1><%= link_to(post[:title], post.path) %></h1>
    <h2>
      <time><%= post[:created_at].strftime("%B %e, %Y") %></time>
    </h2>
  </article>
<% end %>

  <a href="/archives">Read more in the archives</a>
</div>

