    <footer>
        <div class="footer-left">
            &copy; {{ .Now.Format "2006" }}
        </div>
        <div class="footer-right">
            <a href="http://twitter.com/popthestack" rel="me">Twitter</a>
            <a href="https://github.com/popthestack" rel="me">GitHub</a>
            <a href="http://www.linkedin.com/in/ryanmartinsen" rel="me">LinkedIn</a>
            <a href="https://alpha.app.net/popthestack" rel="me" data-type="follow">App.net</a>
            <a href="/resume">Resume</a> <a href="/about#more">more</a>
        </div>
    </footer>